@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Slabo+27px);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);











#msg-box6-0 .mbr-section-title,
#msg-box6-0 .lead p {
  color: #fff;
}
#msg-box6-0 P {
  text-align: center;
  font-size: 18px;
  color: #757d71;
  font-family: 'Open Sans', sans-serif;
}
#msg-box6-0 H3 {
  font-size: 22px;
  color: #757d71;
  font-family: 'Slabo 27px', serif;
  text-align: center;
}
#header3-0 .mbr-section-title,
#header3-0 .mbr-section-subtitle {
  text-align: center;
}
#header3-0 H3 {
  color: #757d71;
}
#features6-0 H4 {
  font-family: 'Slabo 27px', serif;
  color: #ffffff;
  font-size: 22px;
}
#features6-0 P {
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
}
#header3-1 .mbr-section-title,
#header3-1 .mbr-section-subtitle {
  text-align: center;
}
#header3-1 H3 {
  color: #757d71;
}
#gallery1-0 .mbr-gallery-item > a > span {
  font-family: 'Slabo 27px', serif;
  font-size: 22px;
  text-align: center;
}
#gallery1-1 .mbr-gallery-item > a > span {
  font-family: 'Slabo 27px', serif;
  text-align: center;
  font-size: 22px;
}
#testimonials1-0 .mbr-section-title {
  color: #757d71;
}
#testimonials1-0 .card-block EM {
  font-family: 'Open Sans', sans-serif;
}
#testimonials1-0 .card-block FONT {
  text-align: center;
  font-size: 16px;
}
#testimonials1-0 .card-footer > div {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: #757d71;
}
#form1-0 .mbr-section-title {
  color: #757d71;
}
#form1-0 SMALL {
  font-family: 'Open Sans', sans-serif;
}
#social-buttons1-0 .mbr-section-title {
  color: #757d71;
}
#menu-0 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-0 .navbar-caption {
  color: #ffffff;
  font-family: 'Slabo 27px', serif;
  font-size: 18px;
}
#menu-0 .navbar-toggler {
  color: #ffffff;
}
#menu-0 .close-icon::before,
#menu-0 .close-icon::after {
  background-color: #ffffff;
}
#menu-0 .link,
#menu-0 .dropdown-item {
  color: #ffffff;
  font-family: 'Slabo 27px', serif;
}
#menu-0 .link {
  font-size: 1.1rem;
}
#menu-0 .dropdown-item,
#menu-0 .nav-dropdown-sm .link {
  font-size: 1.191rem;
}
#menu-0 .link:hover,
#menu-0 .dropdown-item:hover,
#menu-0 .link:focus,
#menu-0 .dropdown-item:focus {
  color: #c0a375;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-menu {
  background: #6f7466;
}
#menu-0 .nav-dropdown-sm .link:focus,
#menu-0 .nav-dropdown-sm .link:hover,
#menu-0 .nav-dropdown-sm .dropdown-item:focus,
#menu-0 .nav-dropdown-sm .dropdown-item:hover {
  background: #818777!important;
}
#menu-0 .navbar,
#menu-0 .nav-dropdown-sm,
#menu-0 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-0 .nav-dropdown-sm .dropdown-menu {
  background: #898e7f;
}
#menu-0 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-0 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-0 .bg-color.transparent.opened .link:hover,
#menu-0 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
