body {
    background-color: #898e7f
}


























.mbr-author-name {
    color: floralwhite;
}


#contact {
    background-color: #898e7f;
}

#contact:hover {
    background-color: #eb7225;
}













#copyright {
    color: floralwhite;
}